
<a href="#"  data-toggle="collapse" (click)="afficherSideBar()"><i class="fa fa-bars" aria-hidden="true" style="color: black"></i></a>
<hr/>

  <nav class="navbar navbar-light navbar-expand-sm justify-content-between  navbar-dark bg-primary">

    <a class="navbar-brand"> <h1>Shopreate</h1> </a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
